<div id="alert_box" class="alert-box">
    @*<div class="alert alert-dismissable alert-warning">
            <button class="close" type="button" data-dismiss="alert">×</button>
            <p><a class="alert-link" href="#">You have new messages.</a></p>
        </div>*@
</div>

